.header{
	
    display:flex;
    justify-content: space-around;
}



.home{
	display:flex;
	flex-direction:row;
	align-items: center;
	width: 368px;
    justify-content: space-between;

}
.logo{
	font-family: PT Serif;
    font-size: 25px;
    line-height: 33.13px;
    letter-spacing: 2.5px;
}
.Content1{
	color:#C9A96E;
}
.Hero{
	background-image:url(6.png);
	width: 1920px;
    height:1488px;
    display:flex;
	flex-direction:column;
	justify-content: center;
	transform:scaleX(-1);
	
}
.saturn{
	font-family: PT Serif;
    font-size: 40px;
    font-weight: 700;
    color:#FFFFFF;
	width: 560px;
    height: 100px;
	transform:scaleX(-1);
	
    


}
.june{
	font-family: PT Serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 18.55px;
    color:#FFFFFF;
	transform:scaleX(-1);

}
.vihel {
	font-family: PT Sans;
    font-size: 14px;
    line-height: 18.12px;
    color:#FFFFFF;
	transform:scaleX(-1);


}
.block {
	margin-left:70px;
	
}

